<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script> 
<script src="../leaflet.heat.min.js"></script>
<script src="../leaflet-heat.js"></script>  
<script src="../groupLayerPanel.js"></script>  
<script src="../customButton.js"></script>
<script src="../countryButtonCountry.js"></script>  
<script src="../leaflet.awesome-markers.js"></script>

<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.65.1/dist/L.Control.Locate.min.js" charset="utf-8"></script>


<script>
  
  var setMapPosition = <%- JSON.stringify(mapPosition) %>;  

  var map = L.map('map').setView([setMapPosition[0], setMapPosition[1]], 13);
  var d = new Date();
  var hr = d.getHours();
  var osm_mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  	maxZoom: 17,
	minZoom: 2,
  	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  
  var heatOptions = {
			tileOpacity: 1,
			heatOpacity: 1,
			scaleRadius: true,			
			radius: 27,
			blur: 15
		};
		
	 var baselayers = {
		"OpenStreetMap Mapnik":osm_mapnik
	};

  
  	var morningAddressPoints = <%- JSON.stringify(morning) %>;
	var noonAddressPoints = <%- JSON.stringify(noon) %>;
	var afternoonAddressPoints = <%- JSON.stringify(afternoon) %>;
	var eveningAddressPoints = <%- JSON.stringify(evening) %>;
	var nightAddressPoints = <%- JSON.stringify(night) %>;

	var drvrs = <% if (typeof(drivers) !== 'undefined') { %>
	<%- JSON.stringify(drivers) %>
	<% } %>
	
	var policePositions = <% if (typeof(police) !== 'undefined') { %>
	<%- JSON.stringify(police) %>
	<% } %>
	
	var moringData = L.heatLayer(morningAddressPoints, heatOptions),
	noonData = L.heatLayer(noonAddressPoints, heatOptions),
	afternoonData = L.heatLayer(afternoonAddressPoints, heatOptions),
	eveningData = L.heatLayer(eveningAddressPoints, heatOptions),
	nightData = L.heatLayer(nightAddressPoints, heatOptions);
		
	if(hr >= 5  && hr <= 10){ moringData.addTo(map); }
	if(hr > 10  && hr < 14){ noonData.addTo(map);  }
	if(hr >= 14  && hr < 18){ afternoonData.addTo(map);  }
	if(hr >= 18  && hr < 22){ eveningData.addTo(map);  }
	if(hr < 5 || hr >= 22){ nightData.addTo(map);  }
	
	var layers = {
	"Peak Heat Layers":{
		"Morning Peak": moringData,
		"Noon Peak": noonData,
		"Afternoon Peak": afternoonData,
		"Evening Peak": eveningData,
		"Night Peak": nightData
	}
	};
	
	L.control.groupedLayers(baselayers, layers).addTo(map);
	<!-- L.control.locate().addTo(map); -->
	L.control.scale().addTo(map);

	<!-- Creates a red marker with the coffee icon -->
	var driverMarkerSettings = L.AwesomeMarkers.icon({
		icon: 'car',
		prefix: 'fa',
		markerColor: 'darkgreen'
	});
	var policeMarkerSettings = L.AwesomeMarkers.icon({
		icon: 'user-shield',
		prefix: 'fa',
		markerColor: 'cadetblue',
		title: 'Policajná hliadka'
	});
	
	for (var driverMark of drvrs){
		var marker = L.marker([driverMark[0], driverMark[1]],{icon: driverMarkerSettings}).addTo(map);
	};
	
	for (var policeMark of policePositions){
		var marker = L.marker([policeMark[0], policeMark[1]],{icon: policeMarkerSettings}).addTo(map);
	}; 
	
	L.control.custombutton({ text: drvrs.length, link: '' }).addTo(map);
	L.control.custombutton({ text: 'KE', link: '../' }).addTo(map);
	L.control.custombutton({ text: 'BA', link: '../drivers/ba' }).addTo(map);
	L.control.custombutton({ text: 'PO', link: '../drivers/po' }).addTo(map);
	L.control.custombutton({ text: 'ZA', link: '../drivers/za' }).addTo(map);
	L.control.custombutton({ text: 'NR', link: '../drivers/nr' }).addTo(map);
	L.control.custombutton({ text: 'BB', link: '../drivers/bb' }).addTo(map);
	L.control.custombutton({ text: 'TT', link: '../drivers/tt' }).addTo(map);

</script>
